@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand&display=swap');
/* 

font-family: 'Fjalla One', sans-serif;
font-kerning: 3%

font-family: 'Quicksand', sans-serif;*/

/*---------------------------- Scrollbar ----------------------------*/
/* scrollbar. */
::-webkit-scrollbar {
    width: 10px;
    border: #AC354B 1px solid;
    background-color: #ac354b3a;
}

/* the draggable scrolling handle. */
::-webkit-scrollbar-thumb {
    background-color: #AC354B;
    border-radius: 50px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(149, 38, 58);
}

/* ---------------------------------------- GENERELLE REGLER ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#testhøjde {
    height: 1000px;
}

body {
    background-color: #FFF4EC;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
}

h2 {
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: end;
}

#sidsteH {
    text-align: start;
}

h3 {
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 28px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    width: 400px;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 50px;
}

/* ---------------------------------------- TILBAGE TIL TOP ---------------------------------------- */
#tilbageTilTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* ---------------------------------------- HEADER ---------------------------------------- */
header {
    position: fixed;
    z-index: 100;
}

header a svg {
    margin: 10px;
    padding: 5px;
    border: solid #AC354B 2px;
    border-radius: 100%;
    background-color: #FFF4EC;
}

/* ---------------------------------------- FORSIDE ---------------------------------------- */
#startBox {
    margin-top: 45px;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 625px;
    background-position: right;
    background-repeat: no-repeat;
}

#startBoxTekst {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 0px 100px 100px 0px;
}

#startBoxTekst P {
    width: 80%;
}

#storKurve {
    position: absolute;
    top: 11px;
    left: 0;
}

#lilleKurve {
    position: absolute;
    bottom: -99px;
    left: 611px;
}

header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: #ac354b75;
    position: sticky;
    top: -1px;
}

header a {
    width: 180px;
    text-align: center;
}

header a {
    padding: 15px;
    border-radius: 25px;
    color: white;
    /* border: solid 2px white; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #AC354B;
}

#lilleDraabe {
    margin-bottom: 20px;
}

/* ---------------------------------------- BAGGRUNDSBILLEDE & BLOBBILLEDER ---------------------------------------- */
#baggrundsKurve {
    width: 100%;
    height: 9500px;
    background-image: url(media/img/infographic/snore/finalstring_1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indholdsSektionET,
.indholdsSektionTO,
.indholdsSektionTRE {
    width: 80%;
    margin: auto;
}

.indholdsSektionTO img {
    border-radius: 50%;
}

/* ---------------------------------------- VIDEOER ---------------------------------------- */
#bordertest {
    width: 30%;
    border: solid 2px aqua;
    border-radius: 500px;
}

#brittvideo {
    width: 50%;
    height: fit-content;
    border-radius: 30px;
    margin-top: 250px;
    margin-left: 50px;
}

/* ---------------------------------------- IKONER ---------------------------------------- */
.indholdsSektionET img {
    height: fit-content;
}

#brittsHIS {
    width: 75%;
    padding-top: 150px;
}

#brittsHISbrod {
    width: 50%;
    margin-left: 525px;
    margin-top: -500px;
}

#efterskoleSEC {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 580px;
}

#efterskoleSEC img {
    width: 250px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 600px;
}

#efterskoleSEC h3 {
    margin-right: 400px;
}

#efterskoleSEC p {
    margin-left: 300px;
    margin-top: -125px;
}

#apotekSEC {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 350px;
    margin-left: 300px;
}

#apotekSEC p {
    margin-left: 300px;
    margin-top: -200px;
}

#apotekSEC img {
    width: 250px;
}

#laegePraksisSEC {
    margin-top: 400px;
    margin-left: 550px;

}

#laegePraksisSEC img {
    width: 200px;
    margin-left: -100px;
    margin-top: 100px;
}

#laegePraksisSEC p {
    margin-top: -380px;
    margin-left: -60px;
}

#medicinSEC {
    margin-top: 600px;
    margin-left: 200px;
}

#medicinSEC img {
    width: 200px;
    margin-left: -200px;
    transform: rotate(-20deg);
}

#medicinSEC p {
    width: 500px;
    margin-top: -120px;
    margin-left: 150px;
}

/*PERSONLING VIDEO AF BRITT*/
#personligVIDEO {
    width: 50%;
    height: auto;
    margin-left: 500px;
    margin-top: 200px;
    border-radius: 30px;
}

/* ---------------------------------------- ARBEJDSPLADSEN ---------------------------------------- */
#arbejdspladsH2 {
    width: 200px;
    margin-top: 500px;
    margin-left: 500px;
}

/*FÆLLESSKAB*/
.faellesskabFoto {
    padding-bottom: 300px;
    margin-left: 150px;
}

#faellesskabSEC {
    margin-top: 100px;
}

#faellesskabSEC h3 {
    margin-left: 600px;
}

#faellesskabSEC img:nth-child(1) {
    width: 400px;
    margin-left: -50px;
}

#faellesskabSEC img:nth-child(2) {
    width: 300px;
    margin-left: -500px;
    margin-bottom: -100px;
}

#faellesskabSEC img:nth-child(3) {
    width: 200px;
    margin-bottom: -100px;
    margin-left: -20px;
}

.faellesskabFoto p {
    margin-left: 550px;
    margin-top: -375px;
}

/*BØRN*/
.boernFoto {
    margin-left: 550px;
}

#boernSEC h3 {
    margin-top: 200px;
}

#boernSEC p {
    margin-top: -350px;
}

#boernSEC img:nth-child(1) {
    width: 400px;
}

#boernSEC img:nth-child(2) {
    width: 300px;
    margin-left: -500px;
    margin-bottom: -110px;
}

#boernSEC img:nth-child(3) {
    width: 200px;
    margin-bottom: -40px;
    margin-left: -23px;
}

/*AFDELING*/
#afdelingSEC {
    margin-top: 700px;
}

.afdelingFoto {
    display: flex;
    flex-direction: column;
    margin-left: 920px;
}

#afdelingSEC h3 {
    width: 200px;
    margin-top: -200px;
}

#afdelingSEC p {
    width: 550px;
    margin-left: -50px;
    margin-top: -100px;
}

#afdelingSEC img:nth-child(1) {
    width: 400px;
}

#afdelingSEC img:nth-child(2) {
    width: 250px;
    margin-top: -150px;
    margin-left: -50px;
}

#afdelingSEC img:nth-child(3) {
    width: 150px;
    margin-top: -360px;
    margin-left: -100px;
    z-index: 10;
}

/* ---------------------------------------- FØLG EN BLODPRØVE ---------------------------------------- */
.indholdsSektionTRE {
    margin-top: 600px;
}

.indholdsSektionTRE section {
    display: flex;
    justify-content: end;
}

/* til små videoer under blodprøven */
.rundVideo {
    width: 300px;
    /* ændr størrelsen efter behov */
    height: 300px;
    /* samme højde som bredden for at gøre den rund */
    border-radius: 50%;
    /* gør videoen rund ved at bruge en border-radius på 50% */
    object-fit: cover;
    /* justerer videoens størrelse for at passe til det runde område */
}

#sidsteH {
    text-align: center;
    margin-bottom: 50px;
}

.trinText {
    margin-top: 100px;
    margin-left: -100px;
}

.trinText p {
    width: 250px;
}

#trinEt {
    margin-top: 250px;
    margin-left: 100px;
}

#trinTo {
    margin-top: 225px;
}

#trinTre {
    margin-top: 250px;
    margin-right: -50px;
}

#trinFire {
    margin-top: 150px;
}

#rundVideo1 {
    margin-right: 400px;
    margin-top: 0px;
    margin-bottom: 200px;
}

#rundVideo2 {
    margin-right: 200px;
    margin-bottom: 200px;
}

#rundVideo3 {
    margin-right: 700px;
    margin-bottom: 175px;
}

#rundVideo4 {


    margin-right: 100px;
    margin-bottom: 100px;
}

/* ---------------------------------------- UDSTYR (INFOGRAFIK) ---------------------------------------- */
#infoGrafik {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
}

#infoGrafik img {
    width: 750px;
    margin-top: 4%;
}

#blodLyd {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-direction: column;
}

#blodLyd img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* gør videoen rund ved at bruge en border-radius på 50% */
    object-fit: cover;
    /* justerer videoens størrelse for at passe til det runde område */
    margin-top: 4%;
}