@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand&display=swap');
/* 


font-family: 'Fjalla One', sans-serif;
font-kerning: 3%


font-family: 'Quicksand', sans-serif;










*/

/* ---------------------------------------- GENERELLE REGLER ---------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#testhøjde{
    height: 1000px;
}


body{
    background-color: #FFF4EC;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
}
h2{
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 40px; 
    text-align: end;
}
#sidsteH{
    text-align: start;
}

h3{
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 28px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    width: 400px;

}
a{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.mt{
    margin-top: 50px;
}
.mb{
    margin-bottom: 50px;
}



/* ---------------------------------------- HEADER ---------------------------------------- */
header{
    position: fixed;
    z-index: 100;
}

header a svg{
    margin: 10px;
    padding: 5px;
    border: solid #AC354B 2px;
    border-radius: 100%;
    background-color: #FFF4EC;
}


/* ---------------------------------------- FORSIDE ---------------------------------------- */
#startBox{
    margin-top: 45px;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 625px;
    background-position: right;
    background-repeat: no-repeat;
}

#startBoxTekst{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 0px 100px 100px 0px;

}

#startBoxTekst P{
    width: 80%;
}

#storKurve{
    position: absolute;
    top: 11px;
    left:0;
}
#lilleKurve{
    position: absolute;
    bottom: -45px;
    left:583px;
}

header{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: #ac354b75;
    position: sticky;
    top: -1px;
}

header a{
    width: 180px;
    text-align: center;
    
}
header a{
    padding: 15px;
    border-radius: 25px;
    color: white;
    /* border: solid 2px white; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #AC354B;
}

#lilleDraabe{
    margin-bottom: 20px;
}

/* ---------------------------------------- BAGGRUNDSBILLEDE & BLOBBILLEDER ---------------------------------------- */


#baggrundsKurve{
    width: 100%;
    /* margin-top: 500px; */
    height: 5000px;
    background-image: url(media/img/string_6.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indholdsSektionET, .indholdsSektionTO, .indholdsSektionTRE{
    width: 80%;
    margin: auto;
}

.indholdsSektionTO img{
    border-radius: 50%;
}

#storesFotoFaellesskab{
    z-index: 1;

}

#mellemFotoFaellesskab{
    z-index: 2;
}

#lilleFotoFaellesskab{
    z-index: 2;
}


#storesFotoBoern{

}

#mellemFotoBoern{


}

#lilleFotoBoern{

}



#storeFotoUndervisning{

}

#mellemFotoKage{

}

#lilleFotoKantine{
    z-index: -5;
}

/* ---------------------------------------- VIDEOER ---------------------------------------- */

#bordertest{
    width: 30%;
    border: solid 2px aqua;
    border-radius: 500px;

}
#brittvideo{
    width: 40%;
    height: fit-content;
}

/* til små videoer under blodprøven */
.rundVideo {
    width: 300px; /* ændr størrelsen efter behov */
    height: 300px; /* samme højde som bredden for at gøre den rund */
    border-radius: 50%; /* gør videoen rund ved at bruge en border-radius på 50% */
    object-fit: cover; /* justerer videoens størrelse for at passe til det runde område */
}


/* ---------------------------------------- IKONER ---------------------------------------- */


.indholdsSektionET img {
    height: fit-content;
}
#brittsHIS{
    width: 75%;
}

#brittsHISbrod{
    margin-left: 600px;
    margin-top: -200px;
}

#efterskoleSEC{
    margin-top: 100px;
    margin-left: 450px;
}

#efterskoleSEC img{
    width: 40%;
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}

#apotekSEC{
    margin-left: 300px;
    margin-top: 100px;
}

#apotekSEC h3{
    margin-left: 75px;
}

#apotekSEC p{
    margin-left: 100px;
}

#apotekSEC img{
    width: 25%;
    padding-top: 40px;
    padding-bottom: 30px;
}


#laegePraksisSEC{
    margin-left: 100px;
    margin-top: 250px;
}

#laegePraksisSEC img{
    width: 20%;
    margin-left: 600px;
    padding-top: 50px;

}

#laegePraksisSEC h3{
    margin-top: -100px;
    margin-left: 400px;
}

#laegePraksisSEC p{
    margin-top: -300px;
    margin-left: 150px;
}


#medicinSEC{
    margin-top: 100px;
    margin-left: 300px;
    padding-bottom: 200px;
}


#medicinSEC h3{
    margin-left: 150px;
    padding-top: 100px;
}

#medicinSEC img{
    width: 30%;
    margin-left: -50px;
    margin-top: 50px;
}

#medicinSEC p{
    margin-left: 350px;
    margin-top: -250px;


}


#personligVIDEO{
    border: solid 2px greenyellow;
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    padding-top: 200px;
}


/* ---------------------------------------- ARBEJDSPLADSEN ---------------------------------------- */
#arbejdspladsH2{
    width: 30%;
    margin-top: 200px;
}


/*FÆLLESSKABE*/

.faellesskabFoto{
    padding-bottom: 500px;
}

#faellesskabSEC{
    margin-top: 150px;
}

#faellesskabSEC h3{
    margin-left: 500px;
}

#faellesskabSEC img:nth-child(1){
    width: 400px;
    margin-left: -50px;

}

#faellesskabSEC img:nth-child(2){
    width: 300px;
    margin-left: -500px;
    margin-top: 50px;

}

#faellesskabSEC img:nth-child(3){
    width: 200px;
}


.faellesskabFoto p{
    margin-left: 700px;
    margin-top: -300px;
}





/*BØRN*/

#boernSEC img:nth-child(1){
    width: 400px;}
    
#boernSEC img:nth-child(2){
    width: 300px;}
    
#boernSEC img:nth-child(3){
    width: 200px;}
    

/*AFDELING*/

#afdelingSEC img:nth-child(1){
    width: 400px;}
        
#afdelingSEC img:nth-child(2){
    width: 300px;}
        
#afdelingSEC img:nth-child(3){
    width: 200px;}
        
