@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand&display=swap');
/* 


font-family: 'Fjalla One', sans-serif;
font-kerning: 3%


font-family: 'Quicksand', sans-serif;










*/

/* ---------------------------------------- GENERELLE REGLER ---------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF4EC;
}

h1{
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
}
h2{
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}
h3{
    color: #AC354B;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;

}
a{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.mt{
    margin-top: 50px;
}
.mb{
    margin-bottom: 50px;
}



/* ---------------------------------------- HEADER ---------------------------------------- */
header{
    position: fixed;
    
}

header a svg{
    margin: 10px;
    padding: 5px;
    border: solid #AC354B 2px;
    border-radius: 100%;
}


/* ---------------------------------------- FORSIDE ---------------------------------------- */
#startBox{
    position: absolute;
    top: 45px;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 650px;
}

#startBoxTekst{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 0px 100px 100px 0px;

}

#startBoxTekst P{
    width: 80%;
}

#storKurve{
    margin-top: 14px ;
}
#lilleKurve{
    position: absolute;
    bottom: 20px;
    left:596px;
}
#startBoxKnapper{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#startBoxKnapper a{
    padding: 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    background-color: #AC354B;
}

/* ---------------------------------------- FØLG EN BLODPRØVE ---------------------------------------- */
#startBoxBloddraaber{
    width: 80%;
    margin: 0 auto;
    align-self: start;
}
#lilleDraabe{
    margin-bottom: 20px;
}

#baggrundsKurve{
    width: 100%;
    margin-top: 500px;
}
section{
    position: relative;
    z-index: 10;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40%;
    height: fit-content;
    border-radius: 200px;
}
section div{
    width:50%
}








/* ---------------------------------------- ARBEJDSPLADSEN ---------------------------------------- */
.mbArbejdsplads{
    margin-bottom: 50px;
    text-align: center;
}

.faellesskabFoto{
    /* display: flex;
    justify-content: space-around; */
    
    margin-left: 2%;
    margin-top: -20%;
    width: 90%;  
}

#blob1{
    width: 60%;
    height: 60%;

    margin-top: 500px;
}

.faellesskabFoto img{
    border-radius: 50%;
}

#storesFotoFaellesskab{
    width: 35%;
    height: 35%;
    
    margin-left: 1200px;
    margin-top: -500px;

}

#mellemFotoFaellesskab{
    width: 22%;
    height: 22%;
    
    margin-left: -700px;
    margin-bottom: -200px;
}

#lilleFotoFaellesskab{
    width: 15%;
    height: 15%;

    margin-left: -50px;
    margin-bottom: -150px;
}
